<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orientador</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script>
        function filterTCCs() {
            // Captura o valor do input
            const input = document.getElementById('searchInput').value.toLowerCase();
            const cards = document.querySelectorAll('.card');
            // Itera sobre todos os cards
            cards.forEach(card => {
                // Captura o texto do status do card
                const status = card.querySelector('.status-text').innerText.toLowerCase();
                // Verifica se o status contém o valor do input
                if (status.includes(input)) {
                    card.style.display = ''; // Exibe o card
                } else {
                    card.style.display = 'none'; // Oculta o card
                }
            });
        }
    </script>
</head>


<body class="index-page" style="background-color: #f9f9f9;">

    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="sitename">Orienta</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="index.html" class="active">Home<br></a></li>
                    <li><a href="courses.html">Cursos</a></li>
                    <li><a href="trainers.html">Treinamentos</a></li>
                    <li><a href="contact.html">Contato</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" href="{% url 'logout' %}">Sair</a>

        </div>
    </header>
    <div class="container" style="background-color: #f9f9f9;">
        <h3>Bem-vindo, {{ request.user.username }}!</h3>
        <p>Aqui estão os TCCs que você orienta</p>

        <div class="d-flex justify-content-between align-items-center mb-3"> <!-- Contêiner flexível -->

            <a href="{% url 'criar_tcc' %}" class="btn btn-primary"
                style="background-color: #662b96; border: 1px solid #662b96; text-decoration: none;">Cadastrar TCC</a>
            <br>
            <input type="text" id="searchInput" class="form-control me-2" placeholder="Buscar TCC pelo Status"
                aria-label="Buscar TCC" style="width: 300px;" onkeyup="filterTCCs()">
        </div>

        <br>
        <div class="row">
            {% for tcc in tccs %}
            <div class="col-md-4 d-flex"> <!-- Cada card ocupará 4 colunas em uma grade de 12 -->
                <div class="card" style="background-color: #F4F5FA;">
                    <img src="{{ tcc.capa.url }}" class="card-img-top" alt="Capa do TCC" width="200" height="100">
                    <div class="card-body">
                        <h6 class="card-title">{{ tcc.titulo }}</h6>
                        <p class="card-text">Autores:
                            {% for autor in tcc.autores.all %}
                            {{ autor.user.get_full_name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p class="card-text">Data de Entrega: {{ tcc.data_entrega|date:"d/m/Y" }}</p>
                        <p class="card-text status-text">Status: {{ tcc.get_status_display }}</p>
                        <a href="#" class="btn btn-primary"
                            style="background-color: #662b96; border: 1px solid #662b96;">Detalhes</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12"> <!-- Caso não haja TCCs, ocupa toda a largura -->
                <div class="alert alert-warning">
                    Nenhum TCC cadastrado.
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer id="footer" class="footer position-relative light-background">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span class="sitename">Orienta</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>A108 Adam Street</p>
                        <p>New York, NY 535022</p>
                        <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
                        <p><strong>Email:</strong> <span>info@example.com</span></p>
                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href=""><i class="bi bi-twitter-x"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Links Úteis</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre Nós</a></li>
                        <li><a href="#">Serviços</a></li>
                        <li><a href="#">Termos de serviços</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Nossos Serviços</h4>
                    <ul>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">Product Management</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 footer-newsletter">
                    <h4>Nosso Newsletter</h4>
                    <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
                    <form action="forms/newsletter.php" method="post" class="php-email-form">
                        <div class="newsletter-form"><input type="email" name="email"><input type="submit"
                                value="Subscribe"></div>
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your subscription request has been sent. Thank you!</div>
                    </form>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">Orienta</strong> <span>Todos os Direitos
                    Reservados</span></p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js'%}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js'%}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>